PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=virtuosa
DB_USER=postgres
DB_PASSWORD=123

CLIENT_URLS=http://localhost:3000,https://luciaduque248.github.io

JWT_SECRET=3e5fddf8171c0d9934b6a405f79260d2633c2d338c7e1d120241c3862a578970d3a2c0224af59268777952ec4484ea56
JWT_EXPIRES_IN=8h

ADMIN_NAME=Virtuosa Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=administrador123