@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --c1-color: #d0c6e3;
    --c2-color: #aa95c7;
    --c3-color: #621ced;
    --c4-color: #d6eefd;
    --c5-color: #19191a;
    --c6-color: #ef594c;
    --c7-color: #d6ceff;
    --c8-color: #f29778;
    --c9-color: #f5f5f5;
    --c10-color: #C063FA;
}

/* font-family: 'Bebas Neue', cursive; */


html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    min-height: 100%;
}

header {
    grid-area: header;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    width: 100%;

    grid-template-areas:
        "gline"
        "boxline "
        "navbar ";
    text-align: center;
}

nav {
    grid-area: navbar;
    background-color: #621ced;
}

.container-grid {
    display: grid;
    margin: 0;
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    grid-template-areas:
        "header"
    ;
    text-align: center;
}

a {
    color: #313030;
}

/* ----------------------------------  | HEADER | ----------------------------------*/
.grayLine {
    grid-area: gline;
    height: 10px;
    width: 100%;
    background-color: var(--c2-color);
    margin-bottom: 0;
}

.headerBox {
    margin-bottom: 0rem;
    display: flex;
    grid-area: boxline;
    height: 25px;
    width: 100%;
    background-color: #655F5F;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}


/* --------------------------------------------------------------------------*/
.headerBox p {
    font-size: 2vw;
    text-align: center;
    color: var(--c9-color);
}

.fondonav {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -60px;
}

.icons {
    padding-top: 1rem;
    height: 5px;
    margin-right: 3rem;
}

.logo-responsive {
    display: none;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .fondonav {
        position: fixed;
    }

    .logo-responsive {
        display: block;
    }

    .logo-responsive img {
        width: 35%;
        margin-top: 40px;
    }

    .icons {
        width: 50vw;
        margin-left: 1rem;
        margin-top: -5px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .fondonav {
        margin-top: -10px;
    }

    .logo-responsive {
        display: block;
    }

    .fondonav {
        position: fixed;
    }

    .logo-responsive {
        display: block;
    }

    .logo-responsive img {
        width: 35%;
        margin-top: 45px;
    }

    .icons {
        width: 50vw;
        margin-left: 1rem;
        margin-top: 5px;
    }
}

body {
    overflow-x: hidden;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .icons {
        width: 50vw;
        margin-left: 28rem;
        margin-top: 5px;
    }
}

.iniciar-sesion,
.btns-header,
.btn-search {
    background-color: transparent;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #655F5F;

}

.iniciar-sesion:hover,
.btns-header:hover,
.btn-search:hover {
    color: #621ced;
}


.fa-derecha {
    margin: 0 1rem;
}

nav {
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    justify-content: center;
    padding: 1rem;
    padding-left: 0;
}


.nav-menu .nav-menu li a {
    line-height: 50px;
}

#chk-menu {
    display: none;

}

#chk-menu:checked~.nav-menu {
    display: flex;
    flex-direction: column;
    margin: auto;

}

.btn-menu {
    color: #655F5F;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-menu {
    display: none;
}

.item {
    padding: 2rem;
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

.item a:hover {
    color: #621ced;
}

.active {
    color: #621ced;
}

.logo {
    color: #655F5F;
    display: none;
}

.submenu {
    margin: auto;
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

.nav-menu .submenu li a {
    line-height: 50px;
}

.nav-menu .item:hover+ul,
.nav-menu .submenu:hover {
    margin: auto;
    display: block;
}

.nav-menu .submenu a:hover,
.nav-menu .submenu li:hover {
    color: #621ced;
    cursor: pointer;
}

/* ::::::::::::::::::::::::::::::::::::::::: FOOTER ::::::::::::::::::::::::::::::::::::::::: */
footer .mapa {
    margin: 1rem auto;
    position: relative;
    left: 0.5rem;
    width: 100%;
}

footer {
    background-color: #655F5F;
    color: #fff;
    z-index: 10;
    border-top: solid;
}

footer .grupo-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 100px 2rem;
    position: relative;
}

footer .grupo-1 .box-footer {
    text-align: left;
}

footer .grupo-1 .box-footer h4 {
    text-align: center;
    font-size: 2vw;
    font-weight: 300;

}


footer .grupo-1 .box-footer h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2vw;
    font-weight: 400;
}

footer .grupo-1 .box-footer .informacion-footer h2,
footer .grupo-1 .box-footer .informacion-footer h2 {
    margin-top: 1.5rem;
    position: relative;
    left: 1.2rem;
    color: #fff;
}

footer .grupo-1 .box-footer p {
    margin-left: 8rem;
    margin-bottom: 5px;
    line-height: 2rem;
    border-left: 5px solid var(--c2-color);
    border-radius: 4%;
    font-weight: 300;
    font-size: 1.2vw;
    padding-left: 0.5rem;
    color: #fff;
}

footer .grupo-1 .box-footer a {
    color: #f5f5f5;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 2vw;
}

footer .grupo-1 a {
    color: #f5f5f5;

}

.atajos-footer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 8rem;
}

.atajos-footer li {
    margin-bottom: 1rem;
}

.atajos-footer i {
    margin: 0.5rem 0.5rem;
    margin-left: -2rem;
    color: var(--c2-color);
}

.suscribete h6 {
    font-size: 1vw;
    font-weight: 800;
    text-align: center;
}

.suscribete button {
    background-color: var(--c2-color);
    border-style: solid;
    border: none;
    padding: 0.5rem;
    border-radius: 30px;
    position: relative;
    left: 5rem;
    top: 1.5rem;
    font-size: 1vw;
    font-family: Montserrat;
    font-weight: 300;
}

.red-social {
    position: relative;
    left: 5rem;
    top: 3rem;
}

.red-social i {
    margin: 0 5px;
    color: var(--c2-color);
}

footer .grupo-2 {
    background-color: #313030;
    padding: 15px 10px;
    text-align: center;
    color: #f5f5f5;
}

footer .grupo-2 small {
    font-size: 15px;
}



/*--------------------- | RESOLUCIÓN TABLETA | ---------------------*/
@media screen and (min-width: 768px) {

    .headerBox p {
        font-size: 1.3vw;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: initial;

    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        border-top: #655F5F solid 2px;
        padding: 1rem;
        margin: 3rem 1rem 0 1rem;
    }

    .btn-menu {
        display: none;
    }

    .logo {
        display: flex;
    }

    .logo img {
        width: 80%;
    }

    .item,
    .submenu {
        font-size: 1vw;
    }

    #chk-menu:checked~.nav-menu {
        display: none;
    }

    footer .grupo-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 45px 2rem;
    }

    footer .grupo-1 .box-footer a {
        color: #313030;
        text-decoration: none;
        margin-top: 1rem;
        font-size: 16px;
    }
}

/*--------------------- | RESOLUCIÓN MEDIA | ---------------------*/
@media screen and (min-width: 1024px) {
    .headerBox p {
        font-size: 1vw;
    }

    footer .grupo-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 45px 2rem;
    }

    footer iframe {
        border-radius: 100%;
        margin: 1rem 0;
        position: relative;
        left: 1.2rem;
        display: block;
    }

    .suscribete h6 {
        font-size: 1vw;
        font-weight: 300;
        text-align: center;
    }



}

@media (min-width: 481px) and (max-width: 767px) {
    footer .grupo-1 .box-footer h2 {
        font-size: 20px;
    }

    footer .grupo-1 .box-footer h4 {
        font-size: 20px;
    }

    footer .grupo-1 .box-footer p {
        font-size: 13px;
    }

    .box-footer .mapa {
        align-items: center;
        margin: 1rem auto;
        margin-left: 20vw;
        width: 50%;
    }

    .suscribete h6 {
        font-size: 15px;
    }

    .suscribete button {
        font-size: 20px;
        margin-left: 8vw;
    }

    .red-social {
        margin-left: 8vw;
    }
}


/*--------------------- | RESOLUCIÓN CELULAR | ---------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    footer .mapa {
        margin: 1rem auto;
        position: relative;
        left: 0.5rem;
        width: 100%;
    }

    footer .grupo-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 50px 2rem;
        position: relative;
    }

    footer .grupo-1 .box-footer h2 {
        text-align: center;
        font-size: 5vw;
        font-weight: 300;

    }

    footer .grupo-1 .box-footer h4 {
        text-align: center;
        font-size: 5vw;
        font-weight: 300;
    }

    footer .grupo-1 .box-footer p {
        margin-left: 4rem;
        margin-bottom: 5px;
        line-height: 2rem;
        font-size: 4vw;
    }

    .atajos-footer {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-left: 4rem;
    }

    .suscribete h6 {
        font-size: 4vw;
        font-weight: 800;
        text-align: center;
    }

    .suscribete button {
        background-color: var(--c2-color);
        border-style: solid;
        border: none;
        padding: 0.5rem;
        border-radius: 30px;
        position: relative;
        left: 3rem;
        top: 1.5rem;
        font-size: 5vw;
        font-family: Montserrat;
        font-weight: 300;
    }

    .red-social {
        position: relative;
        left: 3rem;
        top: 2rem;
    }
}

.angle-symbol {
    padding: 1rem 2rem;
}

.angle-symbol i{
    padding: 0 8px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .angle-symbol {
        padding: 1rem 0.5rem;
    }
    .angle-symbol i{
        padding: 0 5px;
    }
}